<% @parks.each do |park| %>
  <div class='park'>
    <p class='name'><%= link_to park.full_name, park_path(park) %>, <%= park.state %></P>
    <p class ='description'><%= park.description %></p>
  </div>
<% end %>
