<div class='park'>
  <% @parks.each do |park| %>
  <table class='park-row'>
    <tr class=park_<%= park.id %>>
      <tr class='park-name'><%= link_to "#{park.full_name}, #{park.state}", park_path(park) %></tr><br>
      <tr class ='park-description'><%= park.description %></tr>
      <hr/>
    </tr>
  </table>
  <% end %>
</div>
