<hr/ class='horizontal-line' >
<div class='park'>
  <% @parks.each do |park| %>
  <div class='park-row'>
    <p class=park_<%= park.id %>>
        <p class='park-name'><%= link_to "#{park.full_name}, #{park.state}", park_path(park) %></p><br>
        <p class ='park-description'><%= park.description %></p>
      <hr/>
    </p>
</div>
  <% end %>
</div>
