<div class="navigation">
  <div class="navigation-left">
    <h3>Trippin</h3>
  </div>
  <div class="navigation-right">
    <button type="button" class="buy-now-btn" name="button"><%= link_to 'Sign in with Google', google_login_path, :class => 'sign-in-text' %></button>
  </div>
</div>


<!-- Slider Wrapper -->
<div class="css-slider-wrapper">
  <input type="radio" name="slider" class="slide-radio1" checked id="slider_1">
  <input type="radio" name="slider" class="slide-radio2" id="slider_2">
  <input type="radio" name="slider" class="slide-radio3" id="slider_3">

  <!-- Slider Pagination -->
  <div class="slider-pagination">
    <label for="slider_1" class="page1"></label>
    <label for="slider_2" class="page2"></label>
    <label for="slider_3" class="page3"></label>
  </div>

  <!-- Slider #1 -->
  <div class="slider slide-1">
    <%= image_tag 'us4.jpg' %>
    <div class="slider-content">
      <h4>Trippin</h4>
      <h2>Denim Longline T-Shirt Dress With Split</h2>
    </div>
  </div>

  <!-- Slider #2 -->
  <div class="slider slide-2">
    <%= image_tag 'us1.jpg' %>
    <div class="slider-content">
      <h4>Trippin</h4>
      <h2>Denim Longline T-Shirt Dress With Split</h2>
    </div>
  </div>


  <!-- Slider #3 -->
  <div class="slider slide-3">
    <%= image_tag 'us3.jpg' %>
    <div class="slider-content">
      <h4>Trippin</h4>
      <h2>Denim Longline T-Shirt Dress With Split</h2>
    </div>
  </div>

<script>
  var TIMEOUT = 6000;
  var interval = setInterval(handleNext, TIMEOUT);

  function handleNext() {

    var $radios = $('input[class*="slide-radio"]');
    var $activeRadio = $('input[class*="slide-radio"]:checked');
    var currentIndex = $activeRadio.index();
    var radiosLength = $radios.length;

    $radios
      .attr('checked', false);

    if (currentIndex >= radiosLength - 1) {
      $radios
        .first()
        .attr('checked', true);
    } else {
      $activeRadio
        .next('input[class*="slide-radio"]')
        .attr('checked', true);
    }
  }
</script>
