body {
    background-color: #6b6b6b;
}

#search-title h2 {
  color: #e6e6e6;
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 41px;
  margin-bottom: 20px;
}

.search-box {
  margin-left: 20px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin-left: 22px;
  margin-top: 50px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 6s;
  animation-name: fade;
  animation-duration: 6s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.form > * {
   margin-right: 15px;
   margin-left: 3px;
}
